<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container">
{% block content %}
    <h1>PD Controller</h1>
    <div style="width: 50%; float: left;">
        <form action="" method="post" novalidate style="width: 100%; float: left;">
            {{ form.hidden_tag() }}
            <p>
                {{ form.kp.label }}<br>
                {{ form.kp(size=32) }}<br>
                INCREASING kp => DECREASE rise_time, INCREASE overshoot, SMALL CHANGES in settling_time, DECREASE steady_state_error
            </p>
            <p>
                {{ form.kd.label }}<br>
                {{ form.kd(size=32) }}<br>
                INCREASING kd => SMALL CHANGES in rise_time, DECREASE overshoot, DECREASE in settling_time, NO CHANGE in steady_state_error
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        <img  style="width: 100%; float: left;" src='data:image/png;base64,{{img}}' alt="my plot">
    </div>
    <div style="width: 50%; float: left;">
    <table style="width: 100%; float: left;">
        <tr><td width="300">kp</td><td>{{ kp }}</td></tr>
        <tr><td width="300">kd</td><td>{{ kd }}</td></tr>
        <tr><td width="300">System Stability</td><td>{{ sys_stability }} </td></tr>
        <tr><td width="300">poles</td><td>{{ poles }} </td></tr>
        <tr><td width="300">Rise Time (Target: 2s)</td><td>{{ sys_step_info['RiseTime'] }}</td></tr>
        <tr><td width="300">Settling Time (Target: 5s)</td><td>{{ sys_step_info['SettlingTime'] }}</td></tr>
        <tr><td width="300">Overshoot (Target: 20%)</td><td>{{ sys_step_info['Overshoot'] }}</td></tr>
        <tr><td width="300">Steady State Value</td><td>{{ sys_step_info['SteadyStateValue'] }}</td></tr>
        <tr><td width="300">Transfer Function</td><td><pre><code>{{ G }}</code></pre></td></tr>
        <tr><td width="300">Controller Function</td><td><pre><code>{{ C }}</code></pre></td></tr>
        <tr><td width="300">Closed Loop</td><td><pre><code>{{ closed_loop }}</code></pre></td></tr>
    </table>
    </div>
{% endblock %}
</div>